.bloc
{
    padding: 40px;
    border-radius: 3px;
    border: 1px grey solid;
    background: white;
}
.ligne
{
    font-size: 1.5em;

}
.label-success
{
    cursor: pointer;
}
button
{
    background:none;
    border:none;
}
button:hover, button:active, button:focus
{
    outline:none;
}